.home-container {
  margin-top: 80px !important;
  height: 100vh;
  flex-direction: row;
  display: flex;
}
.left-section,
.right-section {
  flex: 1;
}

.left-section,
.right-section {
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1;
  }
}
