.home-container {
  margin-top: 80px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
}
footer.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1;
  }
}
