.quiz-card {
  border: 2px solid #26a633;
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
}
.quiz-summary {
  border: 1px solid #26a633;
  border-radius: 8px;
  padding: 20px;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(100 100 100 / 70%);
}
.card {
  padding: 20px;
  margin-top: 20px;
}
.quiz-card ul {
  display: flex;
}

.quiz-card li {
  width: 45%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.quiz-card li:hover {
  background-color: #f5f5f5;
}

.next-button-quiz {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected {
  background-color: #3498db;
  color: #fff;
}

.answer {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}

.quiz-summary-container {
  overflow-y: auto;
}
.result-list-container {
  max-height: 300px;
  overflow-y: auto;
}

.correct {
  background-color: #2ecc71;
  color: #fff;
}

.incorrect {
  background-color: #e74c3c;
  color: #fff;
}

/* Styles pour l'input */
.name-quiz {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

/* Style pour le placeholder */
.name-quiz::placeholder {
  color: #999;
}

/* Style lorsqu'on survole l'input */
.name-quiz:hover {
  border-color: #666;
}

/* Style lorsqu'on donne le focus à l'input */
.name-quiz:focus {
  border-color: #007bff;
  outline: none;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(50px) }
  50% { transform: translateX(-50px) }
  75% { transform: translateX(50px) }
  100% { transform: translateX(0) }
 }

 .horizontal-shake {
  animation: horizontal-shaking 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}